# Database
DB_USER=docusage
DB_PASSWORD=yourpassword
DB_NAME=docusage
DB_HOST=postgres
DB_PORT=5432

# Redis
REDIS_HOST=redis
REDIS_PORT=6379

# Hugging Face
HF_TOKEN=your_hf_token

# Celery
CELERY_BROKER_URL=redis://redis:6379/0
CELERY_RESULT_BACKEND=redis://redis:6379/0